
// This is the menu on the *left*, that goes over files overall.
.book-menu {
	border-right: 2px solid $gray-100;

	nav {
		padding: 0.7rem;
	}

	li {
		margin-top: 0.6em;
		margin-bottom: 0.6em;
	}

	a {	}
}

// This is the menu on the *right*, which covers section links.
.book-toc {
	// This could use some more elements at the top to *say* it's in-page nav.
	//  Doing so requires overriding 'toc.html' in layouts.

	border-left: 2px solid $gray-100;

	nav {
		padding: 0.7em;
	}

	li {
		margin-top: 0.7em;
		margin-bottom: 0.7em;
	}

	a {
		&::before { content: "→ " }
	}
}

body {
	scrollbar-color: dark; // unclear to me if this does much yet in practice, but, effort made.

	::-webkit-scrollbar {
		width: 4px;
	}
	::-webkit-scrollbar-track {
		background: #000000;
	}
	::-webkit-scrollbar-thumb {
		background: #343a3f;
	}
}
