
.book-menu {
	border-right: 1px solid;

	nav {
		padding: 0.7rem;
	}

	li {
		margin-top: 0.6em;
		margin-bottom: 0.6em;
	}

	a {	}
}

.book-toc {
	border-left: 1px solid;

	nav {
		padding: 0.7em;
	}

	li {
		margin-top: 0.7em;
		margin-bottom: 0.7em;
	}

	a {	}
}
