
// This is the menu on the *left*, that goes over files overall.
.book-menu {
	border-right: 1px solid;

	nav {
		padding: 0.7rem;
	}

	li {
		margin-top: 0.6em;
		margin-bottom: 0.6em;
	}

	a {	}
}

// This is the menu on the *right*, which covers section links.
.book-toc {
	// This could use some more elements at the top to *say* it's in-page nav.
	//  Doing so requires overriding 'toc.html' in layouts.

	border-left: 1px solid;

	nav {
		padding: 0.7em;
	}

	li {
		margin-top: 0.7em;
		margin-bottom: 0.7em;
	}

	a {
		&::before { content: "→ " }
	}
}
