// These can't go in the other "_custom" file because they'd take effect too late.

$gray-100: rgba(255, 255, 255, 0.1);
$gray-200: rgba(255, 255, 255, 0.2);

$body-background: rgb(18, 22, 25);
$body-font-color: #e9ecef;

$color-link: #84b2ff;
$color-visited-link: #b88dff;

$icon-filter: brightness(0) invert(1);
